{% extends "layout.html" %}
{% block body %}

  <div class = "buttonarea">
    <a href="/get" class="btn">ガチャを回す</a>
  </div>

  <div class="result">
    {% if main and sub and soup %}
      <div class="box menu">
        <h3>主菜</h3>
          <h2>{{main}}</h2>
          <a href="/main?sub={{sub}}&soup={{soup}}" class="child-btn">メニュー変更</a>
      </div>
      <div class="box menu">
        <h3>副菜</h3>
          <h2>{{sub}}</h2>
          <a href="/sub?main={{main}}&soup={{soup}}" class="child-btn">メニュー変更</a>
      </div>
      <div class="box menu">
        <h3>汁物</h3>
          <h2>{{soup}}</h2>
          <a href="/soup?main={{main}}&sub={{sub}}" class="child-btn">メニュー変更</a>
      </div>
    {% endif %}
  </div>

{% endblock %}
